<div class="alert">
  <div class="alert-content">
    <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-indigo-500">
      <span class="text-xl inline-block mr-5 align-middle">
        
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
        </svg>

      </span>
      <span class="inline-block align-middle mr-8">
        <b class="capitalize">Alert!</b> <%= alert %>
      </span>
      <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="this.closest('.alert').style.display='none'">
        <span>×</span>
      </button>
    </div>
  </div>
</div>