<h1 class="text-6xl font-bold leading-normal mt-0 text-indigo-500">Welcome</h1>
<%= render partial: 'form', locals: { link: @link }%>

<div id="links" class='mt-8 flex flex-col divide-y divide-gray-100'>
  <%= render @links %>
</div>